:root{
    --darkGrey-:#343A40;
    --grey-:#6C757D;
    --green-:#28A745;
    --lightGrey-:#F8F9FA;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lightGrey-);
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.navbar h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.links {
  display: flex;
  gap: 20px;
  padding-right: 2%;
}

.links a {
  text-decoration: none;
  color: var(--darkGrey-);
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

.links a:hover {
  color: var(--green-);
  transform: scale(1.1);
}

.burger-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 30px;
}

.burger-line {
  width: 25px;
  height: 3px;
  background-color: var(--darkGrey-);
  transition: background-color 0.3s ease;
}

.burger-line.open {
  background-color: var(--green-);
}

.menu {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: var(--lightGrey-);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: var(--darkGrey-);
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

.menu a:hover {
  color: var(--green-);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
}
.headerContainer{
  background-color: var(--darkGrey-);
  color: var(--lightGrey-);
  display: flex;
  padding: 10%;
}
.headerContainer-textContainer{
  padding-left: 25%;
  padding-top: 5%;
  text-align: end;
}
.headerContainer-Picture{
  width: 300px;
  filter: grayscale(85%);
  border-radius: 5%;
}
.headerContainer-textContainer p{
  font-size: 24px;
  color: var(--lightGrey-);
}
.headerContainer-textContainer h1{
  font-size: 80px;
  color: var(--green-);
  animation: slideIn 2s ease forwards;
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}